<header class = "header">
  <div class="header-top">
    <a class = "logo" href="#">CheapKino</a>
    <nav class = "nav">
      <a class = "nav__link nav__link_active" href="#">Главная</a>
      <a class = "nav__link nav__link_bordered" (click)="signUp()" id = "signUp" *ngIf="!loggedIn">Регистрация</a>
      <a class = "nav__link nav__link_bordered" (click)="login()" *ngIf="!loggedIn">Войти</a>
      <a class = "nav__link nav__link_bordered" routerLink="" *ngIf="loggedIn"  (click)="logout()">Выйти</a>
    </nav>
  </div>
  <header class="header-mobile">
    <div class="header-mobile-top" id = "mobile-top">
      <a class = "logo" href="#">CheapKino</a>
      <i class = "icon-menu icon-menu-mobile" id = "hamburger"></i>
    </div>
    <nav class = "nav-mobile" id = "nav-mobile">
      <a class = "nav__link nav__link_mobile" href="#">Главная</a>
      <a class = "nav__link nav__link_mobile" (click)="signUp()" id = "signUpMobile" *ngIf="!loggedIn">Регистрация</a>
      <a class = "nav__link nav__link_mobile" (click)="login()" *ngIf="!loggedIn">Войти</a>
      <a class = "nav__link nav__link_mobile" *ngIf="loggedIn" (click) = "logout()">Выйти</a>
    </nav>
  </header>
  <div class="header-bottom">
<!--    <h3 *ngIf="loggedIn" class="greeting">Добро пожаловать, <span class = "username">{{getUsername()}}</span></h3>-->
    <div class="intro">
      <h1 class = "intro_main-text">CheapKino платформа доступного кино</h1>
      <p class = "intro_para">Платформа каждый час снижает цены на билеты</p>
      <div class="button-group">
        <button class = "button-group_button" type="button" name="button" (click)="router.navigateByUrl('cinemas')">Кинотеатры</button>
        <button class = "button-group_button" type="button" name="button" (click) = "router.navigateByUrl('')">Кино</button>
      </div>
    </div>
  </div>

</header>

