<header class = "header">
  <div class="header-top">
    <a class = "logo" href="#">CheapKino</a>
    <nav class = "nav">
      <a class = "nav__link nav__link_active" href="#">Главная</a>
      <a class = "nav__link" href="#">Работа</a>
      <a class = "nav__link" href="#">Сервисы</a>
      <a class = "nav__link" href="#">Блог</a>
      <a class = "nav__link" href="#">О нас</a>
      <a class = "nav__link" href="#">Контакты</a>
      <a class = "nav__link nav__link_bordered" href="#" id = "signUp">Регистрация</a>
      <a class = "nav__link nav__link_bordered" href="#">Войти</a>
    </nav>
  </div>
  <header class="header-mobile">
    <div class="header-mobile-top" id = "mobile-top">
      <a class = "logo" href="#">CheapKino</a>
      <i class = "icon-menu icon-menu-mobile" id = "hamburger"></i>
    </div>
    <nav class = "nav-mobile" id = "nav-mobile">
      <a class = "nav__link nav__link_mobile" href="#">Главная</a>
      <a class = "nav__link nav__link_mobile" href="#">Работа</a>
      <a class = "nav__link nav__link_mobile" href="#">Сервисы</a>
      <a class = "nav__link nav__link_mobile" href="#">Блог</a>
      <a class = "nav__link nav__link_mobile" href="#">О нас</a>
      <a class = "nav__link nav__link_mobile" href="#">Контакты</a>
      <a class = "nav__link nav__link_mobile" href="#" id = "signUpMobile">Регистрация</a>
      <a class = "nav__link nav__link_mobile" href="#">Войти</a>
    </nav>
  </header>
  <div class="header-bottom">
    <div class="intro">
      <h1 class = "intro_main-text">CheapKino платформа доступного кино</h1>
      <p class = "intro_para">Платформа каждый час снижает цены на билеты</p>
      <div class="button-group">
        <button class = "button-group_button" type="button" name="button">Кинотеатры</button>
        <button class = "button-group_button" type="button" name="button">Кино</button>
      </div>
    </div>
  </div>
</header>
<!--<div class="modal" id = "modal" (click)="">-->
<!--  <div class="modal__main-content">-->
<!--    <div class="modal__exit" id = "exit" (click)="">X</div>-->
<!--    <div class="modal__content">-->
<!--      <h1 class="modal-content__title">Registration Form</h1>-->
<!--      <div class="modal-content__field">-->
<!--        <h2 class="modal-content-field__name">Email: </h2>-->
<!--        <input type="text" class="modal-content__email" placeholder="Enter your email here...">-->
<!--      </div>-->
<!--      <div class="modal-content__field">-->
<!--        <h2 class="modal-content-field__name">Password:</h2>-->
<!--        <input type="password" class="modal-content__password" placeholder="Create a password">-->
<!--      </div>-->
<!--      <div class="modal-content__field">-->
<!--        <h2 class="modal-content-field__name">Password(again):</h2>-->
<!--        <input type="password" class="modal-content__password" placeholder="Repeat your password">-->
<!--      </div>-->
<!--      <button type="submit" class="modal-content__submit">Sign Up</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
