.sessionsContainer{
  width: 100%;
}

.CinemaName{
  width: 100%;
  height: 50px;
  font-size: 24px;
  font-weight: 900;
  color: #232525;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sessionsComponent{
  width: 100%;
  color: #FFF;
  background: #232525;
  border: 1px solid #a2dc4d;
}

.columnHeader{
  color: #a2dc4d;
  font-size: 18px;
  font-weight: 900;
}

.sessionDetails{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.columns{
  border: 1px solid #a2dc4d;
  min-height: 50px;
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  align-items: center;
}

a{
  color: #FFF;
  text-decoration: none;
}
a:visited{
  text-decoration: none;
  color: #FFF;
}
a:hover{
  color: #a2dc4d;
}
