.movie-container{
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-image{
  width: 200px;
  height: 90%;
  background-size: cover;
}
.movie-info{
  min-height: 90%
}
