<div class="movie-container">
  <img src="{{movie.poster}}" class="movie-image" alt="">
  <div class="movie-info" >
    <h5 class="movie-date">{{getDateString()}}</h5>
    <div class="movie-main-info">
      <a routerLink="movieDetail" class="movie-name" (click)="setDetailedMovie(movie)">{{movie.title}}</a>
      <h4 class="movie-genre">{{movie.genre.name}}</h4>
    </div>
    <p class="movie-description">{{movie.description}}</p>
    <a routerLink="movieSessions" class="movie-session-link" (click) = "setMovieForSessions(movie)" >Подобрать кинотеатр и время</a>
  </div>
</div>
