{% extends 'base.html' %}
{% block body %}
    <div class="block1" style="padding: 0 10%;display: block;background: #232525; height: 400px;">
        <h1 style="font-size:52px;color: #FFF;position: relative; top: 180px; padding-left: 600px;"><b>CHEAPKINO</b></h1>
        <div class="about us" style="top: 490px;position: relative; background-color: #232525; height: 421px;">
            <h1 style="text-align: center;color:#FFF;padding-top: 90px;font-size:44px;" ><b>About us</b></h1>
            <p style="text-align: center;color: #FFF;padding-top:20px;width: 1000px;left:250px; position: relative; font-size: 24px;">Sometimes in some movie sessions in cinemas many seats remain free,
                and it is not profitable for cinema. So we created our web site called
                "Cheapkino", that will be fix that kind of problem. How it works? We evaluated speacial
                formula that estimates rating and reserved seats on sessions. This formula
                calculates comfortable price for session. It's profitable for clients and cinemas!</p>
        </div>
    </div>
{% endblock %}