.cinema-admin{
  width: 100%;
  height: 100%;
  padding: 5%;
  box-sizing: border-box;
  background: #232525;
  border: 5px solid #a2dc4d;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #f0f0f0;
}

.session-time{
  display: flex;
  justify-content: space-between;
}

.session-price{
  display: flex;
  justify-content: space-between;
}

.session{
  margin: 20px 0;
}

.input{
  border: 0;
}

.bttn-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.button{
  width: 150px;
  height: 40px;
  color: #f0f0f0;
  background-color: #a2dc4d;
  border: 1px solid #a2dc4d;
  border-radius: 3px;
  font-size: 16px;
}
.session-place{
  display: flex;
  justify-content: flex-start;
}
.session-place div{
  margin-right: 10px;
}
