.placesContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.column{
  width: 50px;
  height: 50px;
  margin: 10px;
}

button{
  background: #a2dc4d;
  border: 1px solid #232525;
  width: 50px;
  height: 50px;
}

.display{
  color: #a2dc4d;
  font-weight: 900;
  font-size: 30px;
  margin: 20px;
}

.disabled{
  background-color: crimson;
  color: #f0f0f0;
}
