<footer class="footer">
  <div class="footer-top">
    <div class="footer-top-left">
      <input type="text" class="footer-top-left__email" placeholder="Электронная почта...">
      <button class="footer-top-left__submit" type = "submit">Подписаться</button>
    </div>
    <div class="footer-top-right">
      Подпишитесь и будьте в курсе всех новинок киномира.
    </div>
  </div>
  <div class="footer-main">
    <div class="footer-main-inform">
      <h3 class="footer-main-inform__title">О проекте</h3>
      <p class="footer-main-inform__description">Проект был разработана специльно в рамках предметов Software Engineering и Web Development молодыми разработчиками!</p>
      <div class="footer-main-social">
        <a href="#" class="footer-main-social__link"><i class="footer-main-first-icon icon-twitter"></i></a>
        <a href="#" class="footer-main-social__link"><i class="footer-main-first-icon icon-facebook"></i></a>
        <a href="#" class="footer-main-social__link"><i class="footer-main-first-icon icon-linkedin"></i></a>
        <a href="#" class="footer-main-social__link"><i class="footer-main-first-icon icon-dribbble"></i></a>
      </div>
    </div>
    <div class="footer-main-inform">
      <h3 class="footer-main-inform__title">Информация</h3>
      <ul class="footer-main__information">
        <li class="footer-main__inform__link">
          <i class="icon-check footer-main__second-icon"></i>
          <span class="footer-main__second-desc">О нас</span>
        </li>
        <li class="footer-main__inform__link">
          <i class="icon-check footer-main__second-icon"></i>
          <span class="footer-main__second-desc">Политика приватности</span>
        </li>
        <li class="footer-main__inform__link">
          <i class="icon-check footer-main__second-icon"></i>
          <span class="footer-main__second-desc">Условия и соглашения</span>
        </li>
        <li class="footer-main__inform__link">
          <i class="icon-check footer-main__second-icon"></i>
          <span class="footer-main__second-desc">Контакты</span>
        </li>
      </ul>
    </div>
    <div class="footer-main-inform">
      <h3 class="footer-main-inform__title">Контактные данные</h3>
      <p class="footer-main-inform__address">
        Казахстан, Алматы, Толе би, 59
      </p>
      <ul class="footer-inform__contacts">
        <li class="footer-inform__contact">
          <i class="footer-inform__third-icon icon-phone"></i>
          <span class="footer-inform__third-desc">+7 747 589 6699</span>
        </li>
        <li class="footer-inform__contact">
          <i class="footer-inform__third-icon icon-envelope"></i>
          <span class="footer-inform__third-desc">info@cheapkino.kz</span>
        </li>
        <li class="footer-inform__contact">
          <i class="footer-inform__third-icon icon-location4"></i>
          <span class="footer-inform__third-desc">cheapkino.kz</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <h3 class="footer-bottom__copyright">Все права защищены 2019 ©Cheapkino</h3>
  </div>
</footer>
